/* Reset default margin and set minimum height for html and body */
html, body {
    margin: 0;
    padding: 5;
    min-height: 100%;
    height: 100%;
}

/* Reset default margin and padding for body */
body {
    margin: 0;
    padding: 0;
}



/* Make the body a flex container */
body {
    display: flex;
    flex-direction: column;
}

/* The .content class should grow and take available space, pushing the footer down */
.content {
    flex: 1;
}



/* Existing header styles */
header {
    text-align: center; 
    padding: 0px;
    width: 100%;
}

/* Existing navigation menu styles */
nav {
    height: 40px; /* Adjust the height as needed */
    font-size: 25px; /* Adjust the font size as needed */
    text-align: left;
    word-spacing: 400px;
    padding: 25px; /* Adjust the padding as needed */
    background-color: #343a40;
    font-family: Arial;
    text-decoration: none;
}

/* Navigation bar link style */
nav a {
    color: #ffffff; /* Military brown color */
    text-decoration: none;
}


/* Navigation bar link hover style */
nav a:hover {
    color: #ffffff; /* White text on hover */
    text-decoration: underline;
} 

/* Footer styles */
footer {
    background-color: #343a40; /* Satin black background */
    color: #d1d1d1; /* White text color for contrast */
    text-align: center; /* Aligns the text to the center */
    padding: 10px 0; /* 20 pixels of padding at the top and bottom */
    width: 100%; /* Full width */
}

